{:kotoba.app/id "cloud.itonami.isic-872", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreieysxgc3t2rqihggcd2lvbwgd4pulrtsanxdwwhiccganoaguukue", :kotoba.app/embed-url "ipfs://bafkreieysxgc3t2rqihggcd2lvbwgd4pulrtsanxdwwhiccganoaguukue", :published {:archive "https://kotobase.net/ipfs/bafkreieysxgc3t2rqihggcd2lvbwgd4pulrtsanxdwwhiccganoaguukue", :size 73153, :put-status 201, :get-status 200, :at "2026-08-15T13:47:45.898Z"}}
